# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Utilities.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Victor\Desktop\Progra\C#\Personal Files\Utilities\.idea\.idea.Utilities\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
